.dashboardDoc {
    .MuiChartsAxis-tick {
        stroke: white !important;
    }

    .MuiChartsAxisHighlight-root {
        stroke: white !important;
    }

    .MuiChartsAxis-tickLabel {
        font-size: 9px !important;
    }

    .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
        border-color: white !important;
    }

    .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
        color: white !important;
    }

    .css-i4bv87-MuiSvgIcon-root {
        color: white !important;
    }
}