#payment-modal {
    @import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap);
    $mid-background: #e6f0f4;
    $white: #f7f7f7;
    $black: #212121;
    $blue: #12395b;
    $light-blue: #006ec8;
    $yellow: #fac705;
    $dark-grey: #575757;

    // Other stuff
    a,
    button,
    select,
    input,
    textarea {
        text-decoration: none;
        background-color: transparent;
        border: 0;
        cursor: pointer;
    }

    html {
        font-size: 10px;
    }

    body {
        font-family: "Montserrat", sans-serif;
    }

    .text-up {
        text-transform: uppercase;
    }

    .decoration-bar {
        background-color: $yellow;
        height: 0.6rem;
        width: 26rem;
        margin: 0 auto 2rem;
    }

    .button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $light-blue;
        border-radius: 1.5rem;
        font-family: "Oswald", sans-serif;
        font-size: 2.4rem;
        font-weight: 700;
        height: 32px;
        line-height: 24px;
        padding: 6px 12px;
        text-align: center;
        text-transform: uppercase;

        @media screen and (min-width: 992px) {
            height: 44px;
        }

        // Larger sized buttons
        &--lg {
            height: 56px;
        }

        &--md {
            padding: 6px 20px;
        }

        &--dark {
            background-color: $light-blue;
            color: $white;

            &:hover {
                color: $white;
                background-color: #034276;
            }
        }

        &--light {
            background-color: transparent;
            border: 2px solid $white;
            color: $white;

            &:hover {
                background-color: $white;
                color: $blue;
            }
        }

        &--transparent {
            background-color: transparent;
            color: $light-blue;
            text-transform: none;
            font-size: 16px;

            svg {
                margin-left: 6px;
            }
        }
    }

    svg {
        max-width: 100%;
        height: auto;
    }

    .questions {
        text-align: center;

        &__headline {
            font-size: 1.5rem;
            font-family: "Oswald", sans-serif;
        }

        &__form {
            max-width: 800rem;
            margin: 0 auto;
        }

        .form {
            &__tab {
                display: none;
                // display: none;

                &.active {
                    display: block;
                }
            }

            &__group {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 20px;

                @media screen and (min-width: 992px) {
                    flex-direction: row;
                }

                &--full {
                    flex-direction: column;

                    @media screen and (min-width: 992px) {
                        flex-direction: column;
                    }
                }
            }

            &__title {
                margin-bottom: 3rem;
                padding: 0 4rem;
                font-size: 3.2rem;
            }

            &__input {
                position: absolute;
                opacity: 0;
                // display: none;
                // appearance: none;
                // outline: none;

                &:checked {
                    +label {}
                }

                // &:focus {
                //   opacity: 1;
                // }
            }

            &__label {
                align-items: start;
                background-color: $white;
                border-radius: 15px;
                border: 2px solid $light-blue;
                cursor: pointer;
                display: grid;
                grid-auto-flow: column;
                grid-template-columns: 25% 75%;
                grid-template-rows: 40px 40px;
                justify-content: start;
                padding: 25px 20px;
                position: relative;
                text-align: left;
                width: 100%;
                max-width: 35rem;
                transition: all 0.2s ease;

                &--simple {
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr;
                    text-align: center;
                    padding: 1rem 2rem;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 350;
                    line-height: normal;
                    color: $blue;
                }

                &:hover {
                    background: rgba(8, 107, 148, 0.1);
                }

                &:has(input:checked) {
                    border: 2px solid $light-blue;
                    background-color: $mid-background;

                    .form__label-check {
                        display: block;
                    }
                }

                &:has(input:focus) {
                    outline: 2px ridge rgba(0, 110, 200, 0.4);
                    // border-radius: 2rem;
                }

                // &:has(input) {
                //   display: none;
                // }

                &-img {
                    grid-column: 1;
                    grid-row: 1 / 3;
                    width: 70px;
                }

                &-name {
                    // font-family: "Gotham Narrow";
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 42px;
                    /* 175% */
                }

                &-text {
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 325;
                    line-height: 20px;
                    /* 142.857% */
                }

                &-check {
                    color: $light-blue;
                    fill: $light-blue;
                    stroke-opacity: 1;
                    stroke: $white;
                    background: $white;
                    border-radius: 100%;
                    display: none;

                    background-size: cover;
                    background-repeat: no-repeat;
                    position: absolute;
                    top: 0;
                    left: 100%;
                    width: 30px;
                    height: 30px;
                    transform: translate(-50%, -50%);

                    path {
                        // fill: $white;
                    }
                }
            }

            &__prev {
                >svg {
                    transform: rotate(180deg);
                }
            }

            // TODO disabled states of btn?
            // TODO error msg?

            &__prev,
            &__next {
                width: 100%;
                max-width: 35rem;
                margin: 0 auto;
                border-radius: 10px;
                margin-top: 2rem;
            }
        }
    }

}

.confirm-page {
    background-color: #E8F2F7;

    .con-container {
        max-width: 1140px;
        margin: auto;

        .confirm-title {
            padding: 12px 16px;
            background: linear-gradient(36deg, #00b5f1, #00e0ff);
            font-size: 17px;
            font-weight: bold;
            color: #fff;
            font-family: Roboto, sans-serif !important;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .con-left-content {
            background-color: #fff;
            padding: 12px 16px;
            font-family: Roboto, sans-serif !important;

            .con-s1-icon {
                display: inline-block;
                width: 20px !important;
                box-sizing: content-box;
                text-align: center;
                margin-right: 10px;

                svg {
                    color: #B1B1B1;
                }
            }

            .address-detail {
                margin-left: 30px;
                color: #858585;
                font-family: var(--bs-body-font-family);
            }
        }

        .con-up-content {
            font-family: Roboto, sans-serif !important;
            padding: 2px 16px 0px;
            background-color: #fff;

            th,
            tr,
            td {
                color: #003553;
                --bs-table-bg-type: #fff !important;
                padding: 20px 5px;
                text-align: justify;
            }

            thead {
                border-bottom: #EFEFEF 1px solid;
            }

            .trash-icon {
                color: grey;
                cursor: pointer;
                text-align: center;
                width: 35px;
                border-radius: 4px;
            }

            .trash-icon:hover {
                background-color: #e74c3c;
                color: white;
            }

        }

        .con-down-content {
            font-family: Roboto, sans-serif !important;
            padding: 16px;
            background-color: #fff;
            color: #003553;

            .con-down-content-left,
            .con-down-content-right {
                width: 50%;
            }

            .con-icon {
                display: inline-block;
                flex: 0 0 30px;
                color: #C1C1C1;
            }
        }

        .btn-goback {
            padding: 8px 12px;
            cursor: pointer;
            background-color: #E8F2F7;
            color: #003553;
            border: 1px solid transparent;
            --bs-btn-active-border-color: transparent;
        }

        .btn-goback:hover {
            background: rgba(0, 0, 0, .018);
        }

        .btn-add {
            padding: 8px 18px;
            cursor: pointer;
            background: linear-gradient(46deg, #00b5f1 0, #00e0ff 100%);
            border: 1px solid transparent;
            --bs-btn-active-border-color: transparent;
        }

        .btn-add:hover {
            background: linear-gradient(46deg, #07aae0, #00c6e1);
            box-shadow: 4px 8px 30px 0 rgba(177, 196, 218, .35);
        }

    }
}